.gdoc-hint {
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: normal;
}
.gdoc-hint.info {
    border-left-color: #6bf;
    background-color: rgba(102,187,255,.2)
  }
.gdoc-hint.warning {
    border-left-color: #fd6;
    background-color: rgba(255,221,102,.2)
  }
.gdoc-hint.danger {
    border-left-color: #f66;
    background-color: rgba(255,102,102,.2)
  }
  
.logo_cursor {
  display: inline-block;
  width: 10px;
  height: 1em;
  background: #00ff00;
  margin-left: 6px;
  border-radius: 1px;
  animation: cursor 1.5s infinite;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.cursor {
  color: #b60000;
}

code,
pre,
kbd {
  font-size: 14px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

table {
  margin-top: 2em;
  margin-bottom: 2em;
}

th {
  text-align: left;
}

.pagination-item {
  color: rgb(89, 154, 218);
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.alert {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: .5rem;
}

.alert.danger {
  border-color: #7e000d;
  color: #7e000d;
  background-color: rgb(228, 171, 176);
}

.alert.warning {
  border-color: #856404;
  color: #856404;
  background-color: rgb(255, 243, 205);
}

.alert.info {
  border-color: #01109b;
  color: #01109b;
  background-color: rgb(208, 208, 231);
}

.alert.success {
  border-color: #155724;
  color: #155724;
  background-color: rgb(212, 237, 218);
}
