<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "theme": "classic",
  "content": {
    "message": "This website uses cookies to ensure you get the best experience on our website",
    "dismiss": "Got it!",
    "link": "Learn more",
    "href": "/cookiepolicy"
  }
});
</script>