<footer class="common-footer">
    {{ $languagesCount := $.Site.Home.AllTranslations }}
    {{ if gt $languagesCount 1 }}
        {{ partial "languageSelect.html" . }}
    {{ end }}

    <div class="common-footer-bottom">
        {{ if .Site.Menus.footer }}
            {{ $currentPage := . }}
            <ul class="footer-menu">
            {{ range .Site.Menus.footer }}
            <li><a class="{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
        <div class="copyright">
            <p>Mandatory legal stuff:
            <a href="/legal">Legal notice</a> · 
            <a href="/privacy">Privacy policy</a> · 
            <a href="/cookies">Cookie policy</a><br>
            © {{ if isset .Site.Params "author"}}{{ .Site.Params.author }}, {{end}}{{ now.Year }} · <a href="/about">About us</a><br>
            {{ i18n "powered" | humanize }} <a target="_blank" rel="noopener noreferrer" href="https://gohugo.io/">Hugo</a>, theme based on <a target="_blank" rel="noopener noreferrer" href="https://github.com/mitrichius/hugo-theme-anubis">Anubis</a>.
            </p>  
        </div> 

        {{ partial "themeSwitcher.html" . }}   
    </div>
</footer>
