<h1 class="site-title">
    <a href="{{ .Site.BaseURL | relLangURL }}"><span class="cursor">% </span>{{ .Site.Title }}</a><span class="logo_cursor"></span>
</h1>
{{ if .Site.Menus.main }}
    <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </nav>
{{ else }}
    <nav></nav>
{{ end }}
