{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
    {{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}

<div class="post-info">
    {{ if not (eq .Lastmod .Date) }}
    <div class="post-date">Posted {{ .Params.date.Format $dateFormat }}, updated {{ .Params.lastmod.Format $dateFormat }}</div>
    {{ else }}
    <div class="post-date">Posted {{ .Params.date.Format $dateFormat }}</div>
    {{ end }}

    <div class="post-taxonomies">
        {{ if .Params.tags }}
            <ul class="post-tags">
                {{ range .Params.tags }}
                    <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
</div>
