{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title"><a href="{{ "/" | relURL }}">404 Not Found</a></h1>
      </div>
      <div><pre style="color:#008000">
######## ########  ########   #######  ########  
##       ##     ## ##     ## ##     ## ##     ## 
##       ##     ## ##     ## ##     ## ##     ## 
######   ########  ########  ##     ## ########  
##       ##   ##   ##   ##   ##     ## ##   ##   
##       ##    ##  ##    ##  ##     ## ##    ##  
######## ##     ## ##     ##  #######  ##     ## 
##          #####   ##                           
##    ##   ##   ##  ##    ##                     
##    ##  ##     ## ##    ##                     
##    ##  ##     ## ##    ##                     
######### ##     ## #########                    
      ##   ##   ##        ##                     
      ##    #####         ##                                     
      </pre>
      <p>
        The 404 (Not Found) status code indicates that the origin server did
        not find a current representation for the target resource or is not
        willing to disclose that one exists.  A 404 status code does not
        indicate whether this lack of representation is temporary or
        permanent; the 410 (Gone) status code is preferred over 404 if the
        origin server knows, presumably through some configurable means, that
        the condition is likely to be permanent.</p>

        <p>
        A 404 response is cacheable by default; i.e., unless otherwise
        indicated by the method definition or explicit cache controls (see
        Section 4.2.2 of [RFC7234]).
        </p>
      </div>
    </main>
{{ end }}
