/* dark.css */ 
--font-color: #a9a9b3;
--bg-color: #212121;
--header-color: #eee;

--link-color:#599ada;
/* --link-state-color:#ff5858; */
--link-state-color: rgb(182, 0, 0);
--link-state-border-color: rgb(182, 0, 0, 0.5);

--thead-bg-color: #343a40;
--table-border-color: lightgrey;

--pre-color: #333;
--pre-bg-color: #f1f1f1;

--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #373737;
--pagination-link-color: #599ada;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;

--code-color: #eee;
--background-secondary: #3b3d42;