{{ define "main" }}
    {{ if .Menus }}
        <nav class="post-navigation">
        {{ range .Menus }}
            <a  href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
        </nav>
    {{ end }}
    
    <article class="post">
        <header class="post-header">
            <h1 class="post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ trim .Title  " " }}</h1>
    </header>
    {{ partial "postInfo.html" . }}
        <div class="content">
            {{ .Content }}
        </div>
    </article>

    {{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
        {{ partial "paginationPost.html" . }}
    {{ end }}

    {{ if and (.Site.DisqusShortname) (eq .Type "posts") }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

{{ end }}